
html {
    background-color: #ffffff;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgb(20, 20, 20);
}

label {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgb(20, 20, 20);
    font-weight: bold;
    margin-top: auto;
    margin-bottom: auto;
}

h3 {
    font-size: x-large;
}


th, td {
    text-align: left;
    padding-right: 43.2px;
}

.center-horizontal {
    margin-right: auto;
    margin-left: auto;
}
.center-vertical {
    margin-top: auto;
    margin-bottom: auto;
}

.border-theme {
    border-style: solid;
    border-color: rgb(222, 226, 237);
    border-radius: 5px;
}

.font-theme {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
}

.banner {
    width: 100%;
    height: 44px;
    box-shadow: rgb(162, 177, 198) 0px 5px 8px -6px;
    position: sticky;
    
}

.banner-content {
    width: 85%;
    height: 100%;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
    padding-bottom: auto;
    font-size: large;
}

.content {
    width: 85%;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.double {
    display: flex;
    flex-direction: row;
    margin-bottom: 32px;
    margin-top: 32px;
}

.double-first {
    display: block;
    width: 30%;
    margin-right: 64px;

    font-weight: medium;
    
}

.double-second {
    display: block;
    width: 60%;
    font-size: 18px;
}

.seperator {
    height: 1px;
    background-color: rgb(222, 226, 237);
    width: 100%;
    border: none;
    margin: 0px;
}

.control-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
}

.control-button {
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 5px;
    height: 32px;

    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;

    background-color: transparent;
    border-style: solid;
    border-radius: 20px;
    border-color: rgb(222, 226, 237);
}

.view-controls {
    margin-top: auto;
    margin-bottom: auto;
    display: flex;
    flex-direction: row;
    height: 30px;
    
    background-color: rgb(222, 226, 237);
    border-style: solid;
    border-radius: 5px;
    border-color: rgb(222, 226, 237);
}

.view-button {
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 5px;
    height: 32px;

    background-color: transparent;
    border-color: transparent;

    font-size: large;
}

.add-button {
    margin-right: 5px;
    border-style: solid;
    border-color: rgb(222, 226, 237);
    border-radius: 15px;
    background-color: transparent;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    
}

.filter-controls {
    display:flex; 
    flex-direction: row;
    margin-right: 10px;
    justify-content: flex-end;
}

.filter-label {
    padding-right: 5px;
}

.filter-field[type="text"]{
    width: 30%;

    margin-right: 10px;
    border-color: rgb(222, 226, 237);
    border-radius: 20px;
    border-style: solid;

    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding-left: 10px;
    padding-right: 10px;
    font-weight: bold;
}


.main-window {
    border-style: solid;
    border-radius: 20px;
    border-color: rgb(222, 226, 237);
    box-shadow: rgb(162, 177, 198) 0px 5px 8px -6px;
    height: 1000px;
    margin-bottom: 64px;
}

.table-window {
    margin-left:auto;
    margin-right: auto;
    margin-top: 30px;
    width: 90%;
    height: 90%;
    margin-bottom: 20px;
}

.table-row {
    display: beans;
}

.table-button {
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-color:  rgb(222, 226, 237);
    border-radius: 20px;
    border-style: solid;
    background-color:  rgb(222, 226, 237);
}