
{% block body %}
<html>
<head>
    <script>
        const repeatedArray = [].concat(...Array(20).fill([
                            'rgba(255, 99, 132, 0.2)',
                            'rgba(54, 162, 235, 0.2)',
                            'rgba(255, 206, 86, 0.2)',
                            'rgba(75, 192, 192, 0.2)',
                            'rgba(153, 102, 255, 0.2)',
                            'rgba(255, 159, 64, 0.2)',
                            'rgba(255, 99, 132, 0.2)',
                        ],));

        var chartArray = [];
        let index = 0
        let myChart;
        
        $('html').on("click", ".back", function () {
            index = ((index - 1) + 8) % 8;
            console.log(index)

            myChart.destroy();
            let mainCanvas = document.getElementById("main-canvas");
            myChart = new Chart(document.getElementById("main-canvas"), chartArray[index]);
        }); 
        $('html').on("click", ".next", function () {
            index = (index + 1) % 8;
            console.log(index)

            myChart.destroy();
            let mainCanvas = document.getElementById("main-canvas");
            myChart = new Chart(document.getElementById("main-canvas"), chartArray[index]);
        }); 

        $('document').ready((function () {
            
            var ctx = document.getElementById('offenseNameChart');
            chartArray[0] = {
                type: 'bar',
                data: {
                    labels: [{% for item in Statistics.offenseNames %}
                                "{{item[0]}}",
                            {% endfor %}],
                    datasets: [{
                        label: '# of Incidents',
                        data: [{% for item in Statistics.offenseNames %}
                                "{{item[1]}}",
                            {% endfor %}],
                        borderColor: repeatedArray,
                        backgroundColor: repeatedArray,
                        borderWidth: 2
                    }]
                },
                options: {
                    title: {
                        display: true,
                        fontSize: 15,
                        text: 'Incidents per Offense Name'
                    },
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero: true
                            }
                        }]
                    }
                }
            }
        
            var ctx_2 = document.getElementById('offenderRaceChart');
            chartArray[1] = {
                type: 'bar',
                data: {
                    labels: [{% for item in Statistics.offenderRace %}
                                "{{item[0]}}",
                            {% endfor %}],
                    datasets: [{
                        label: '# of Incidents',
                        data: [{% for item in Statistics.offenderRace %}
                                "{{item[1]}}",
                            {% endfor %}],
                        borderColor: repeatedArray,
                        backgroundColor: repeatedArray,
                        borderWidth: 2
                    }]
                },
                options: {
                    title: {
                        display: true,
                        fontSize: 15,
                        text: 'Incidents per Offender Race'
                    },
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero: true
                            }
                        }]
                    }
                }
            }

            var ctx_3 = document.getElementById('totalVictimsChart');
            chartArray[2] = {
                type: 'bar',
                data: {
                    labels: [{% for item in Statistics.victimCount %}
                                "{{item[0]}}",
                            {% endfor %}],
                    datasets: [{
                        label: '# of Incidents',
                        data: [{% for item in Statistics.victimCount %}
                                "{{item[1]}}",
                            {% endfor %}],
                        borderColor: repeatedArray,
                        backgroundColor: repeatedArray,
                        borderWidth: 2
                    }]
                },
                options: {
                    title: {
                        display: true,
                        fontSize: 15,
                        text: 'Incidents per Victim Count'
                    },
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero: true
                            }
                        }]
                    }
                }
            };

            var ctx_4 = document.getElementById('regionsChart');
            chartArray[3] = {
                type: 'bar',
                data: {
                    labels: [{% for item in Statistics.region %}
                                "{{item[0]}}",
                            {% endfor %}],
                    datasets: [{
                        label: '# of Incidents',
                        data: [{% for item in Statistics.region %}
                                "{{item[1]}}",
                            {% endfor %}],
                        borderColor: repeatedArray,
                        backgroundColor: repeatedArray,
                        borderWidth: 2
                    }]
                },
                options: {
                    title: {
                        display: true,
                        fontSize: 15,
                        text: 'Incidents per Region'
                    },
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero: true
                            }
                        }]
                    }
                }
            };

            var ctx_5 = document.getElementById('stateChart');
            chartArray[4] = {
                type: 'bar',
                data: {
                    labels: [{% for item in Statistics.stateName %}
                                "{{item[0]}}",
                            {% endfor %}],
                    datasets: [{
                        label: '# of Incidents',
                        data: [{% for item in Statistics.stateName %}
                                "{{item[1]}}",
                            {% endfor %}],
                        borderColor: repeatedArray,
                        backgroundColor: repeatedArray,
                        borderWidth: 2
                    }]
                },
                options: {
                    title: {
                        display: true,
                        fontSize: 15,
                        text: 'Incidents per State'
                    },
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero: true
                            }
                        }]
                    }
                }
            };

            var ctx_6 = document.getElementById('yearChart');
            chartArray[5] = {
                type: 'bar',
                data: {
                    labels: [{% for item in Statistics.year %}
                                "{{item[0]}}",
                            {% endfor %}],
                    datasets: [{
                        label: '# of Incidents',
                        data: [{% for item in Statistics.year %}
                                "{{item[1]}}",
                            {% endfor %}],
                        borderColor: repeatedArray,
                        backgroundColor: repeatedArray,
                        borderWidth: 2
                    }]
                },
                options: {
                    title: {
                        display: true,
                        fontSize: 15,
                        text: 'Incidents per Year'
                    },
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero: true
                            }
                        }]
                    }
                }
            };

            var ctx_7 = document.getElementById('popDescChart');
            chartArray[6] = {
                type: 'bar',
                data: {
                    labels: [{% for item in Statistics.popDesc %}
                                "{{item[0]}}",
                            {% endfor %}],
                    datasets: [{
                        label: '# of Incidents',
                        data: [{% for item in Statistics.popDesc %}
                                "{{item[1]}}",
                            {% endfor %}],
                        borderColor: repeatedArray,
                        backgroundColor: repeatedArray,
                        borderWidth: 2
                    }]
                },
                options: {
                    title: {
                        display: true,
                        fontSize: 15,
                        text: 'Incidents per Population Description'
                    },
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero: true
                            }
                        }]
                    }
                }
            }

            var ctx_8 = document.getElementById('agencyTypeChart');
            chartArray[7] = {
                type: 'bar',
                data: {
                    labels: [{% for item in Statistics.agencyType %}
                                "{{item[0]}}",
                            {% endfor %}],
                    datasets: [{
                        label: '# of Incidents',
                        data: [{% for item in Statistics.agencyType %}
                                "{{item[1]}}",
                            {% endfor %}],
                        borderColor: repeatedArray,
                        backgroundColor: repeatedArray,
                        borderWidth: 2
                    }]
                },
                options: {
                    title: {
                        display: true,
                        fontSize: 15,
                        text: 'Incidents per Agency Type'
                    },
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero: true
                            }
                        }]
                    }
                }
            };
            let mainCanvas = document.getElementById('main-canvas');
            myChart = new Chart(document.getElementById("main-canvas"), chartArray[index])
        }));

        
    
    </script>
</head>

<!-- OffenseNames Chart -->
<body>
    <div style="position:sticky; display:flex; flex-direction: row; margin-top:auto; margin-bottom:auto;">
        <h1 style="margin-right:15px">Notable Statistics</h1>
        
        <div style="display:flex; flex-direction:row; margin-top:auto;margin-bottom: auto;padding-top:5px;">
    
            <button class="table-button back" href="#carouselExampleIndicators" role="button" data-slide="prev">
                ◀
            </button>
            
            <button class="table-button next" href="#carouselExampleIndicators" role="button" data-slide="next">
                ▶
            </button>
        </div>
    </div>

    <div>
        <canvas id="main-canvas" width="300" height="300">

        </canvas>
    </div>

</body>
</html>
{% endblock %}