{% extends 'base.html' %}


{% block head %}

{% endblock %}


{% block body %}
<div class="banner">
    <h2 class="banner-content">CSE412 Team-11 | <span style="font-weight: lighter; font-size: medium ;">Dashboard</span> </h1>
</div>

<div class="content">
    <div class="double">
        <h1 class="double-first">United States Hate Crimes Repository</h1>
        <p class = "double-second">
            The U.S. Hate Crimes Repo is a Python application
             that allows users to view information pertaining 
             to hate crimes that have taken place in the United States 
             between the years 1991 and 2018. [TODO: Add links and stuff]
        </p>
    </div>
    <hr class="seperator">
    <div class="control-bar">
        <h3>All Crimes <span style="color: rgb(165, 169, 182);">{{Props.rowCount}}</span> </h3>
        <div style="margin-top:auto; margin-bottom: auto; display:flex; flex-direction: row;">

            <form method="POST" action="/filter">
                <div class="filter-controls">
                    <label for="columns" class="filter-label">Columns:</label>
                    <input type="text" name="columns" class="filter-field">

                    <label for="conditions" class="filter-label">Conditions:</label>
                    <input type="text" name="conditions" class="filter-field">

                    <button class="control-button" class="filter-label">Filter</button>
                </div>
            </form>

            <div class="view-controls">
                <label style="margin-top: auto; margin-bottom: auto; margin-left: 10px; font-weight: bold;">Views: </label>

                <form class="view-button" method="POST" action="/graph">
                    <button class="view-button">📊</button>
                </form>

                <form method="POST" action="/table">
                    <button class="view-button">📃</button>
                </form>
            </div> 
        </div>
    </div>

    <div class="main-window">

        <div class = "table-window">
            {% if Props.displayType == "table"%}

            <h1>Table View</h1>
            <table>
                <thead>
                    {% for column in Props['columns'] %}
                    <th>{{column}}</th>
                    {% endfor %}
                </thead>    
                <tbody>
                {% for row in Props['rows'] %}
                    
                    <tr>
                        {% for column in row %}
                        <td>{{column}}</td>
                        {% endfor %}
                    </tr>
                    
                {% endfor %}
                </tbody>
            </table>
            




            {% elif Props.displayType == "graph"%}

            <h1>Graph View</h1>

            {% endif %}
        </div>
        
    </div>
</div>


{% endblock %}