{% extends 'base.html' %}


{% block head %}

{% endblock %}


{% block body %}
<div class="banner">
    <h2 class="banner-content">CSE412 Team-11 | <span style="font-weight: lighter; font-size: medium ;">Dashboard</span> </h1>
</div>
<div class="content">
    <div class="double">
        <h1 class="double-first">United States Hate Crimes Repository</h1>
        <p class = "double-second">
            The U.S. Hate Crimes Repo is a Python application
             that allows users to view information pertaining 
             to hate crimes that have taken place in the United States 
             between the years 1991 and 2018. [TODO: Add links and stuff]
            </p>
    </div>
    <hr class="seperator">
    <div class="control-bar">
        <h3>All Crimes <span style="color: rgb(165, 169, 182);">{{Props.rowCount}}</span> </h3>

        <div style="margin-top:auto; margin-bottom: auto; display:flex; flex-direction: row;">
            <form method="POST" action="/filter">
                <button class="control-button">Filter</button>
            </form>

            <div class="view-controls">
                <label style="margin-top: auto; margin-bottom: auto; margin-left: 10px; font-weight: bold;">Views: </label>

                <form class="view-button" method="POST" action="/graph">
                    <button class="view-button">📊</button>
                </form>

                <form method="POST" action="/table">
                    <button class="view-button">📃</button>
                </form>
            </div> 
        </div>
    </div>

    <div class="main-window">
        {% if Props.displayType == "table"%}
            <h1>TABLE VIEW</h1>
        {% elif Props.displayType == "graph"%}
           <img src = "/plot.png" alt = "my plot">
           <img src = "/plot2.png" alt = "my plot 2">
        {% endif %}
    </div>
</div>


{% endblock %}